.DS_Store
*.zip
/artwork/ForeverClassIcons/PNG-256/Druid.png
/artwork/ForeverClassIcons/PNG-256/Hunter.png
/artwork/ForeverClassIcons/PNG-256/Mage.png
/artwork/ForeverClassIcons/PNG-256/Paladin.png
/artwork/ForeverClassIcons/PNG-256/Priest.png
/artwork/ForeverClassIcons/PNG-256/Rogue.png
/artwork/ForeverClassIcons/PNG-256/Shaman.png
/artwork/ForeverClassIcons/PNG-256/Warlock.png
/artwork/ForeverClassIcons/PNG-256/Warrior.png
/artwork/ForeverClassIcons/PNG-Original/Druid.png
/artwork/ForeverClassIcons/PNG-Original/Hunter.png
/artwork/ForeverClassIcons/PNG-Original/Mage.png
/artwork/ForeverClassIcons/PNG-Original/Paladin.png
/artwork/ForeverClassIcons/PNG-Original/Priest.png
/artwork/ForeverClassIcons/PNG-Original/Rogue.png
/artwork/ForeverClassIcons/PNG-Original/Shaman.png
/artwork/ForeverClassIcons/PNG-Original/Warlock.png
/artwork/ForeverClassIcons/PNG-Original/Warrior.png
/artwork/ForeverClassIcons/TGA-256/Druid.tga
/artwork/ForeverClassIcons/TGA-256/Hunter.tga
/artwork/ForeverClassIcons/TGA-256/Mage.tga
/artwork/ForeverClassIcons/TGA-256/Paladin.tga
/artwork/ForeverClassIcons/TGA-256/Priest.tga
/artwork/ForeverClassIcons/TGA-256/Rogue.tga
/artwork/ForeverClassIcons/TGA-256/Shaman.tga
/artwork/ForeverClassIcons/TGA-256/Warlock.tga
/artwork/ForeverClassIcons/TGA-256/Warrior.tga
/artwork/ForeverClassIcons/original-flat-prompts.txt
/artwork/ForeverClassIcons/Preview.html
/artwork/ForeverClassIcons/prompts.json
/artwork/ForeverClassIcons/README.md
/artwork/flat-prompts.txt
/artwork/Hunter-flat.png
/artwork/Hunter-flat.tga
/artwork/Paladin-flat.png
/artwork/PaladinAssistForever.png
/artwork/README.md
